In [41]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [42]:
driver=webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://in.indeed.com/?r=us")

In [43]:
driver.maximize_window()

In [44]:
# entering “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
driver.find_element_by_id("text-input-what").send_keys("Data scientist")
time.sleep(1)
driver.find_element_by_id("text-input-where").send_keys("Bangalore")
time.sleep(1)
driver.find_element_by_xpath("//*[@id='whatWhereFormId']/div[3]/button").click()
time.sleep(2)

In [45]:
#creating empty list

job_title=[]
company_name=[]
location=[]
salary=[]
posted_date=[]
time_stamp=[]
date_stamp=[]
job_description=[]

In [46]:
# scraping job title
title=driver.find_elements_by_xpath("//a[@class='jobtitle turnstileLink ']")
for i in title:
    if i.text is None:
        job_title.append('--')
    else:
        job_title.append(i.text)
job_title

['Data Scientist',
 'Data Scientist 1',
 'Data Scientist (NLP) for a Product Based Edutech Company',
 'Data Scientist',
 'EXECUTIVE- DATA SCIENTIST',
 'Data Scientist',
 'Data Science Specialist',
 'Data Scientist - Machine Learning',
 'Data Scientist',
 'ASSOCIATE DATA SCIENTIST',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist-Metals Digital']

In [47]:
# scraping company name
comp_name=driver.find_elements_by_xpath("//span[@class='company']")
for i in comp_name:
    if i.text is None:
        company_name.append('--')
    else:
        company_name.append(i.text)
company_name

['BreathX Technologies Inc, ( Canary Health Technologies)',
 'PayPal',
 'Shaw Academy',
 'Acumont Solutions Private Limited',
 'Nielsen',
 'Hewlett Packard Enterprise',
 'General Electric',
 'Blue Yonder',
 'Unusual Hire',
 'Indegene',
 'Pion Global Pvt Ltd',
 'AgEye Technologoes',
 'Affine Analytics',
 'NatWest Group',
 'ABB']

In [60]:
# scraping city
location_name=driver.find_elements_by_xpath("//div[@class='location accessible-contrast-color-location']")
for i in location_name:
    if i.text is None:
        location.append('--')
    else:
        location.append(i.text)
location

['Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka']

In [66]:
# scraping salary
sal=driver.find_elements_by_xpath("//span[@class='salaryText']")
for i in sal:
    if i.text is None:
        salary.append("--")
    else:
        salary.append(i.text)
salary

['₹15,00,000 a year',
 '₹20,000 - ₹40,000 a month',
 '₹5,00,000 - ₹8,00,000 a year',
 '₹15,00,000 a year',
 '₹20,000 - ₹40,000 a month',
 '₹5,00,000 - ₹8,00,000 a year',
 '₹15,00,000 a year',
 '₹20,000 - ₹40,000 a month',
 '₹5,00,000 - ₹8,00,000 a year',
 '₹15,00,000 a year',
 '₹20,000 - ₹40,000 a month',
 '₹5,00,000 - ₹8,00,000 a year',
 '₹15,00,000 a year',
 '₹20,000 - ₹40,000 a month',
 '₹5,00,000 - ₹8,00,000 a year']

In [50]:
# job when posted
when_posted=driver.find_elements_by_xpath("//span[@class='date ']")
for i in when_posted:
    if i.text is None:
        posted_date.append('--')
    else:
        posted_date.append(i.text)
posted_date[0:10]

['12 days ago',
 '6 days ago',
 '30+ days ago',
 '1 day ago',
 '6 days ago',
 '1 day ago',
 'Today',
 '5 days ago',
 '16 days ago',
 'Today']

In [67]:
print(len(job_title),len(company_name),len(location),len(salary),len(posted_date))

15 15 15 15 15

In [70]:
indeed_job=pd.DataFrame({'job_title':job_title,'company_name':company_name,'location':location,'posted_date':posted_date,'salary':salary})
indeed_job

,job_title,company_name,location,posted_date,salary
0,Data Scientist,"BreathX Technologies Inc, ( Canary Health Tech...","Bengaluru, Karnataka",12 days ago,"₹15,00,000 a year"
1,Data Scientist 1,PayPal,"Bengaluru, Karnataka",6 days ago,"₹20,000 - ₹40,000 a month"
2,Data Scientist (NLP) for a Product Based Edute...,Shaw Academy,"Bengaluru, Karnataka",30+ days ago,"₹5,00,000 - ₹8,00,000 a year"
3,Data Scientist,Acumont Solutions Private Limited,"Bengaluru, Karnataka",1 day ago,"₹15,00,000 a year"
4,EXECUTIVE- DATA SCIENTIST,Nielsen,"Bengaluru, Karnataka",6 days ago,"₹20,000 - ₹40,000 a month"
5,Data Scientist,Hewlett Packard Enterprise,"Bengaluru, Karnataka",1 day ago,"₹5,00,000 - ₹8,00,000 a year"
6,Data Science Specialist,General Electric,"Bengaluru, Karnataka",Today,"₹15,00,000 a year"
7,Data Scientist - Machine Learning,Blue Yonder,"Bengaluru, Karnataka",5 days ago,"₹20,000 - ₹40,000 a month"
8,Data Scientist,Unusual Hire,"Bengaluru, Karnataka",16 days ago,"₹5,00,000 - ₹8,00,000 a year"
9,ASSOCIATE DATA SCIENTIST,Indegene,"Bengaluru, Karnataka",Today,"₹15,00,000 a year"
10,Data Scientist,Pion Global Pvt Ltd,"Bengaluru, Karnataka",26 days ago,"₹20,000 - ₹40,000 a month"
11,Data Scientist,AgEye Technologoes,"Bengaluru, Karnataka",21 days ago,"₹5,00,000 - ₹8,00,000 a year"
12,Data Scientist,Affine Analytics,"Bengaluru, Karnataka",5 days ago,"₹15,00,000 a year"
13,Data Scientist,NatWest Group,"Bengaluru, Karnataka",30+ days ago,"₹20,000 - ₹40,000 a month"
14,Data Scientist-Metals Digital,ABB,"Bengaluru, Karnataka",8 days ago,"₹5,00,000 - ₹8,00,000 a year"

In [71]:
indeed_job.to_csv('indeed_job.csv')